body{
    background-color: rgb(31, 31, 31);
    display: flex;
    justify-content: center;
    flex-direction: row;   
    justify-content: space-between;
}

* h2{
    font-size: 45px;
}

header {
    position: fixed; 
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 1;
}

.nav{
    top: 0;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
}

.Liens{
    display: none;
    position: absolute;
}

.NavFont{
    position: absolute;
}

.NavFont {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 30px; 
    left: 50%; 
    transform: translateX(-50%); 
    background-image: linear-gradient(rgb(31, 31, 31), transparent);
    overflow: hidden; 
    width: 100%;
    z-index: 1;
}

.Liens{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-items: end;
    z-index: auto;
}

header nav span{
    left: 10px;
    text-align: center;
    margin:auto;
}

header nav span a{
    text-decoration: none;
    height: auto;
    font-size: 25px;
}

a:link{
    color: beige;
}

nav span a:hover{    
    background-image:linear-gradient(beige, white);
}

nav span a:hover:link{
    color: black;
}

a:visited{
    color: beige;
}


.corpsPage{
    background-color: rgb(31, 31, 31);
    display: flex;
    flex-direction: column;
}

#Identite{
    display: flex;
    justify-content: center;
    background-image: url("Photo/PhotoAccueil.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    text-align: center;
    text-decoration-color: white;
    margin-top: 30px;
    height:400px;
} 

.IdentiteMoi article *{
    color: white;
}

.IdentiteMoi article h1{
    margin-top: 150px;
    font-size: 45px;
}

#A-propos-de-moi{
    display: flex;
    width: 100%;
}

* article p,h2{
    color: rgb(184, 179, 179);
}

* article p{
    font-size: larger;
}

.placeMoi{
    width:60%;
}

.placePhoto{
    width: 40%;
}

.Moi {
    background-color: rgb(35, 33, 30);
    border: 2px solid black;
    box-shadow: 2px 2px 2px white;
    border-radius: 15px;
    width: 75%;
    height: 70%;
    padding: 40px;
    box-sizing: border-box;
    position: relative;
    top: 10%;
    left: 20%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow-y: scroll; 
    scrollbar-color: grey transparent;
    scrollbar-width: thin; 
    text-align: center;
    font-size: 25px;
}

.Moi h2{
    font-size: 35px;
}

.texteMoi{
    text-align: left;
}

::-webkit-scrollbar {
    width: 8px; 
}
    
::-webkit-scrollbar-thumb {
    background-color: grey; 
    border-radius: 10px; 
}
    
::-webkit-scrollbar-track {
    background: transparent; 
}

.Moi p {
    margin: 0;
}

.PhotoMoi {
    position: relative;
    border: 2px solid black;
    box-shadow: 2px 2px 2px white;
    border-radius: 15px;
    width: 300px;
    height: 550px;
    overflow: hidden; 
    top: 20%;
    left:30%;
     
}

.PhotoDeMoi {
    width: 100%;
    height: 100%;
    object-fit: cover;  
}

#Formations{
    text-align: center;
    max-height: 800px;
    margin: 50px;
}

.ConteneurFormation{
    display: flex;
    flex-direction: row;
}

#Formations h3{
    text-align: center;
    width: 100%;
}

.friseChrono {
    position: relative;
    width: 60%;
    right: 0;
    margin: 20px;
}

.friseChrono::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    height: 75%;
    width: 2px;
    background: #ccc;
    transform: translateX(-50%);
}

.timeline-item {
    position: relative;
    width: 50%;
    padding: 20px;
    margin: 40px 0;
}


.timeline-item:nth-child(odd) {
    margin-left: 0;
    text-align: right;
}

.timeline-item:nth-child(even) {
    margin-left: 50%;
}

.timeline-item::after {
    content: '';
    position: absolute;
    top: 50%; 
    width: 12px;
    height: 12px;
    background: #5d605d;
    border-radius: 50%;
    transform: translateY(-50%); 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.timeline-item:nth-child(odd)::after {
    right: -6px;
    left: auto;
}

.timeline-item:nth-child(even)::after {
    left: -6px;
    right: auto;
}

.timeline-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background: #f5f5f5;
    padding: 10px;
    border-radius: 8px;
}

.timeline-content h3{
    font-size: 20px;
}

.timeline-content h5{
    font-size: 15px;
}

.MesFormations{
    position:relative;
    text-align:center;
    width: 40%;
    margin-left:10%;
    margin-top:10%;
    margin-bottom:25%;
}

.MesFormations article{
    background-color: rgb(184, 179, 179);
    width:80%;
    background-color: rgb(35, 33, 30);
    border:2px solid black;
    box-shadow: 2px 2px 2px white;
    border-radius:15px;
}

.MesFormations article p{
    margin: 10px;
    font-size: 24px;
}

#Qualites{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 30px;
    text-align: center;
}

.Conteneur-Qualites div {
    background-color:  rgb(35, 33, 30);
    width: 30%;
    border-radius: 15px;
    box-shadow: 2px 2px 2px white;   
    border: 2px solid black ;
    text-align: center;
    margin: 50px;
}

.Conteneur-Qualites p{
    margin: 10px;
    font-size: 27px;
    padding: 20px;
}

.Conteneur-Qualites{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#Competences{
    display: flex;
    justify-content: center;
    margin: 150px;
}

.ConteneurCompetences{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgb(35, 33, 30);
    border: 2px solid black;
    border-radius:10px ;
    text-align: center;
    width: 70%;
    height: 100%;
    box-shadow: 2px 2px 2px white;   
}

.ConteneurCompetences article{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 15px;
}

.ConteneurCompetences article p{
    position: relative;
    background-color: #5d605d;
    border-radius: 5px;
    border:2px solid black;
    width: 25%;
}

.CompetencesButton{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.SousCompetencesButton{
    display: flex;
    justify-content: space-around;
    margin: 5px;
}

.SousCompetencesButton p{
    width: 50%;
}

.asterix{
    font-size: small;
    background-color: none;
    color: rgb(184, 179, 179);
}

#file{
    width: 50%;
}


#Experiences{
    display: flex;
    flex-direction:row;
    justify-content: center;  
    text-align: center;
    margin: 30px;
}

.ExperiencesTexte{
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.ExperiencesTexte article{
    background-color: rgb(35, 33, 30);
    border:2px solid black;
    box-shadow: 2px 2px 2px white;
    border-radius:15px;
    font-size: 25px;
    padding: 20px;
    margin: 50px;
}

#Projets{
    display: flex;
    justify-content: center;
    text-align: center;
}

.video{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.Snake{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow: hidden;
    margin: 30px;
}

.TexteSnake{
    width: 110%;
}

.TexteSnake article h2{
    text-align: center;
}

.ConteneurTexteSnake{
    width: 50%;
    left: 25%;
    position: relative;
    background-color: rgb(35, 33, 30);
    border:2px solid black;
    box-shadow: 2px 2px 2px white;
    border-radius:15px;
    margin: 30px;
    font-size: 24px;
    padding: 25px;
}

.ConteneurTexteSnake{
    width: 60%;
}

.ConteneurTexteSnake p,h2 {
    margin: 10px;
}

.ConteneurVideoCodeSnake{
    position: relative;
    background-color: rgb(35, 33, 30);
    border: 2px solid black;
    box-shadow: 2px 2px 2px white;
    border-radius: 15px;
    height: 40%;
    margin: 80px;
}

.ConteneurVideoSnakeJeu{
    position: relative;
    background-color: rgb(35, 33, 30);
    border: 2px solid black;
    box-shadow: 2px 2px 2px white;
    border-radius: 15px;
    width: 25%;
    height: 30%;
    margin-bottom: 10px;
    overflow: hidden;
}

.videoCodeSnake{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.videoSnake{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.JeuMonstres{
    display: flex;
    justify-content: center;
}

.ConteneurJeuMonstres{
    width: 80%;
    position: relative;
    background-color: rgb(35, 33, 30);
    border:2px solid black;
    box-shadow: 2px 2px 2px white;
    border-radius:15px;
    margin: 30px;
    font-size: 24px;
    text-align: left;
    padding: 40px;
}

.StockageDonnees{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}

.TexteFichierMonstres{
    width: 50%;
}

.PhotoFichierMonstres{
    position: relative;
    height: 250px;
    width: 500px;
    margin-left:150px;
    flex-grow: 0.5;
}

.DeroulementPartie{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}

.PhotoCodeDeroulementPartie{
    margin-right:80px;
    height: 350px;
    width: 600px;
}

.PhotoCodeDeroulementPartie:hover{
    position: relative;
    height: 500px;
    width:  900px;
}

.PhotoCodeDeroulementPartie:hover .TexteDeroulementPartie p{
    font-size: 15px;
}

.TexteDeroulementPartie{
    width: 50%;
}

.PartieEnCours{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}

.PhotoPartieEnCours{
    position: relative;
    height: 500px;
    width:  900px;
    margin: 25px;
}

#Contacts{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin-top: 100px;
}

.ContactsConteneur {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.TexteContact{
    font-size: 25px;
}

.icone_gmail{
    height: 50px;
    width: 50px;
    margin: 50px;
}

.icone_telechargement{
    height: 50px;
    width: 50px;
    margin: 50px;
}

.icone_telephone{
    height: 50px;
    width: 50px;
    margin: 50px;
}

.telephoneContacts{
    display: flex;
    flex-direction: column;
}

.numtel{
    color: rgb(184, 179, 179);
    position: absolute;
    margin-top: 95px;
    margin-left: 27px;
}

@media screen and (max-width: 600px) {
    .corpsPage{
        flex-direction: column;
        justify-content: center;
    }
    .Moi div p{
        font-size: x-small;
    }
    .Moi h2{
        font-size: smaller;
    }
    .Moi{
        width: 65%;
        height: auto;
        padding: 10px; 
        box-sizing: border-box;
        position: relative;
        top: 10%; 
        left:20%;
        word-wrap: break-word; 
        overflow-wrap: break-word; 
        overflow: hidden; 
        max-height: 80%; 
    }
}

@media (max-width: 768px) {
    .friseChrono::before {
        left: 20px;
    }
    
    .timeline-item {
        width: 100%;
        margin-left: 0;
        padding-left: 40px;
        text-align: left;
    }
    
    .timeline-item::after {
        left: 14px !important;
        right: auto !important;
    }
    
    .timeline-item:nth-child(even) {
        margin-left: 0;
    }
}